@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: hsl(0deg 0% 98.82352941176471%);
		--foreground: hsl(0deg 0% 12.549019607843137%);
		--card: hsl(0deg 0% 97.6470588235294%);
		--card-foreground: hsl(0deg 0% 12.549019607843137%);
		--popover: hsl(0deg 0% 98.82352941176471%);
		--popover-foreground: hsl(0deg 0% 12.549019607843137%);
		--primary: hsl(0deg 0% 0%);
		--primary-foreground: hsl(0deg 0% 100%);
		--secondary: hsl(0deg 0% 97.6470588235294%);
		--secondary-foreground: hsl(0deg 0% 39.21568627450981%);
		--muted: hsl(0deg 0% 97.6470588235294%);
		--muted-foreground: hsl(0deg 0% 39.21568627450981%);
		--accent: hsl(0deg 0% 51.37254901960784%);
		--accent-foreground: hsl(0deg 0% 100%);
		--destructive: hsl(
			358.4810126582278deg 69.2982456140351% 55.294117647058826%
		);
		--destructive-foreground: hsl(
			350.64935064935065deg 62.601626016260155% 24.11764705882353%
		);
		--constructive: hsl(
			151.8918918918919deg 56.34517766497462% 38.627450980392155%
		);
		--constructive-foreground: hsl(
			155.29411764705884deg 40.47619047619048% 16.470588235294116%
		);
		--border: hsl(0deg 0% 85.09803921568627%);
		--input: hsl(0deg 0% 85.09803921568627%);
		--ring: hsl(0deg 0% 85.09803921568627%);
		--chart-1: hsl(12deg 76% 61%);
		--chart-2: hsl(173deg 58% 39%);
		--chart-3: hsl(197deg 37% 24%);
		--chart-4: hsl(43deg 74% 66%);
		--chart-5: hsl(27deg 87% 67%);
		--radius: 0.5rem;
		--base-0: hsl(0deg 0% 100%);
		--base-1: hsl(0deg 0% 98.82352941176471%);
		--base-2: hsl(0deg 0% 97.6470588235294%);
		--base-3: hsl(0deg 0% 94.11764705882352%);
		--base-4: hsl(0deg 0% 90.98039215686275%);
		--base-5: hsl(0deg 0% 87.84313725490196%);
		--base-6: hsl(0deg 0% 85.09803921568627%);
		--base-7: hsl(0deg 0% 80.7843137254902%);
		--base-8: hsl(0deg 0% 73.33333333333333%);
		--base-9: hsl(0deg 0% 55.294117647058826%);
		--base-10: hsl(0deg 0% 51.37254901960784%);
		--base-11: hsl(0deg 0% 39.21568627450981%);
		--base-12: hsl(0deg 0% 12.549019607843137%);
		--accent-1: hsl(0deg 0% 98.82352941176471%);
		--accent-2: hsl(0deg 0% 97.6470588235294%);
		--accent-3: hsl(0deg 0% 94.11764705882352%);
		--accent-4: hsl(0deg 0% 90.98039215686275%);
		--accent-5: hsl(0deg 0% 87.84313725490196%);
		--accent-6: hsl(0deg 0% 85.09803921568627%);
		--accent-7: hsl(0deg 0% 80.7843137254902%);
		--accent-8: hsl(0deg 0% 73.33333333333333%);
		--accent-9: hsl(0deg 0% 55.294117647058826%);
		--accent-10: hsl(0deg 0% 51.37254901960784%);
		--accent-11: hsl(0deg 0% 39.21568627450981%);
		--accent-12: hsl(0deg 0% 12.549019607843137%);
		--green-1: hsl(140.00000000000037 60.00000000000023% 99.01960784313727%);
		--green-2: hsl(137.14285714285714 46.66666666666658% 97.05882352941177%);
		--green-3: hsl(138.74999999999994 47.05882352941181% 93.33333333333333%);
		--green-4: hsl(140 49.090909090909065% 89.21568627450979%);
		--green-5: hsl(141.66666666666663 43.90243902439022% 83.92156862745098%);
		--green-6: hsl(143.74999999999997 41.379310344827594% 77.25490196078432%);
		--green-7: hsl(146.25 39.50617283950618% 68.23529411764706%);
		--green-8: hsl(150.63829787234042 40.17094017094017% 54.11764705882353%);
		--green-9: hsl(151.0344827586207 54.71698113207547% 41.568627450980394%);
		--green-10: hsl(151.8918918918919 56.34517766497462% 38.627450980392155%);
		--green-11: hsl(153.6734693877551 59.756097560975604% 32.15686274509804%);
		--green-12: hsl(155.29411764705884 40.47619047619048% 16.470588235294116%);
		--red-1: hsl(0 100% 99.41176470588235%);
		--red-2: hsl(0 100% 98.43137254901961%);
		--red-3: hsl(356.8421052631578 90.47619047619051% 95.88235294117646%);
		--red-4: hsl(358.33333333333326 100% 92.94117647058823%);
		--red-5: hsl(358.8 100% 90.19607843137256%);
		--red-6: hsl(359.0625 94.11764705882355% 86.66666666666667%);
		--red-7: hsl(359.2 77.31958762886603% 80.98039215686275%);
		--red-8: hsl(358.7096774193548 69.92481203007516% 73.92156862745098%);
		--red-9: hsl(358.0891719745223 75.11961722488037% 59.01960784313726%);
		--red-10: hsl(358.4810126582278 69.2982456140351% 55.294117647058826%);
		--red-11: hsl(358.14814814814815 64.8% 49.01960784313726%);
		--red-12: hsl(350.64935064935065 62.601626016260155% 24.11764705882353%);
	}
	.dark {
		--background: hsl(0deg 0% 6.666666666666667%);
		--foreground: hsl(0deg 0% 93.33333333333333%);
		--card: hsl(0deg 0% 9.803921568627452%);
		--card-foreground: hsl(0deg 0% 93.33333333333333%);
		--popover: hsl(0deg 0% 6.666666666666667%);
		--popover-foreground: hsl(0deg 0% 93.33333333333333%);
		--primary: hsl(0deg 0% 100%);
		--primary-foreground: hsl(0deg 0% 0%);
		--secondary: hsl(0deg 0% 9.803921568627452%);
		--secondary-foreground: hsl(0deg 0% 70.58823529411765%);
		--muted: hsl(0deg 0% 9.803921568627452%);
		--muted-foreground: hsl(0deg 0% 70.58823529411765%);
		--accent: hsl(0deg 0% 48.23529411764706%);
		--accent-foreground: hsl(0deg 0% 100%);
		--destructive: hsl(
			359.58041958041963deg 79.00552486187846% 64.50980392156863%
		);
		--destructive-foreground: hsl(349.5652173913044deg 100% 90.98039215686275%);
		--constructive: hsl(151.2deg 55.06607929515419% 44.509803921568626%);
		--constructive-foreground: hsl(
			144.375deg 69.56521739130433% 81.96078431372548%
		);
		--border: hsl(0deg 0% 22.745098039215687%);
		--input: hsl(0deg 0% 22.745098039215687%);
		--ring: hsl(0deg 0% 22.745098039215687%);
		--chart-1: hsl(220deg 70% 50%);
		--chart-2: hsl(160deg 60% 45%);
		--chart-3: hsl(30deg 80% 55%);
		--chart-4: hsl(280deg 65% 60%);
		--chart-5: hsl(340deg 75% 55%);

		--base-0: hsl(0deg 0% 0%);
		--base-1: hsl(0deg 0% 6.666666666666667%);
		--base-2: hsl(0deg 0% 9.803921568627452%);
		--base-3: hsl(0deg 0% 13.333333333333334%);
		--base-4: hsl(0deg 0% 16.470588235294116%);
		--base-5: hsl(0deg 0% 19.215686274509807%);
		--base-6: hsl(0deg 0% 22.745098039215687%);
		--base-7: hsl(0deg 0% 28.235294117647058%);
		--base-8: hsl(0deg 0% 37.64705882352941%);
		--base-9: hsl(0deg 0% 43.13725490196079%);
		--base-10: hsl(0deg 0% 48.23529411764706%);
		--base-11: hsl(0deg 0% 70.58823529411765%);
		--base-12: hsl(0deg 0% 93.33333333333333%);
		--accent-1: hsl(0deg 0% 6.666666666666667%);
		--accent-2: hsl(0deg 0% 9.803921568627452%);
		--accent-3: hsl(0deg 0% 13.333333333333334%);
		--accent-4: hsl(0deg 0% 16.470588235294116%);
		--accent-5: hsl(0deg 0% 19.215686274509807%);
		--accent-6: hsl(0deg 0% 22.745098039215687%);
		--accent-7: hsl(0deg 0% 28.235294117647058%);
		--accent-8: hsl(0deg 0% 37.64705882352941%);
		--accent-9: hsl(0deg 0% 43.13725490196079%);
		--accent-10: hsl(0deg 0% 48.23529411764706%);
		--accent-11: hsl(0deg 0% 70.58823529411765%);
		--accent-12: hsl(0deg 0% 93.33333333333333%);
		--green-1: hsl(154.28571428571428deg 20% 6.862745098039216%);
		--green-2: hsl(153.33333333333331deg 20% 8.823529411764705%);
		--green-3: hsl(152.3076923076923deg 40.62500000000001% 12.549019607843137%);
		--green-4: hsl(154.28571428571428deg 55.26315789473685% 14.901960784313726%);
		--green-5: hsl(153.6deg 52.08333333333333% 18.823529411764707%);
		--green-6: hsl(152.72727272727272deg 46.21848739495798% 23.333333333333332%);
		--green-7: hsl(151.875deg 44.44444444444444% 28.235294117647058%);
		--green-8: hsl(151.1688311688312deg 45.029239766081865% 33.529411764705884%);
		--green-9: hsl(151.0344827586207deg 54.71698113207547% 41.568627450980394%);
		--green-10: hsl(151.2deg 55.06607929515419% 44.509803921568626%);
		--green-11: hsl(150.98039215686273deg 65.1063829787234% 53.92156862745098%);
		--green-12: hsl(144.375deg 69.56521739130433% 81.96078431372548%);

		--red-1: hsl(0deg 19.047619047619047% 8.235294117647058%);
		--red-2: hsl(355.3846153846154deg 25.49019607843137% 10%);
		--red-3: hsl(349.7560975609756deg 53.246753246753244% 15.098039215686276%);
		--red-4: hsl(348deg 68.42105263157893% 18.627450980392158%);
		--red-5: hsl(349.59999999999997deg 63.0252100840336% 23.333333333333332%);
		--red-6: hsl(352.40506329113924deg 53.02013422818792% 29.215686274509807%);
		--red-7: hsl(355.2808988764045deg 46.59685863874346% 37.450980392156865%);
		--red-8: hsl(358.3928571428571deg 44.800000000000004% 49.01960784313726%);
		--red-9: hsl(358.0891719745223deg 75.11961722488037% 59.01960784313726%);
		--red-10: hsl(359.58041958041963deg 79.00552486187846% 64.50980392156863%);
		--red-11: hsl(1.6513761467890005deg 100% 78.62745098039215%);
		--red-12: hsl(349.5652173913044deg 100% 90.98039215686275%);
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
